In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
taxi = pd.read_csv('taxi_107.csv')

In [15]:
taxi.head()

,Unnamed: 0,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,...,0.0,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,7,6400.0,2016-1-26 04:15:00,2016-1-26 04:15:00,60.0,0.2,NaN,NaN,16.0,16.0,...,0.0,0.0,0.0,3.75,Cash,107.0,527.0,24.0,527.0,24.0
2,13,7984.0,2016-1-22 09:45:00,2016-1-22 09:45:00,420.0,0.0,NaN,749.0,8.0,28.0,...,0.0,0.0,0.0,6.25,Cash,107.0,419.0,615.0,681.0,196.0
3,14,6078.0,2016-1-3 07:45:00,2016-1-3 08:00:00,480.0,0.1,NaN,NaN,41.0,69.0,...,0.0,0.0,0.0,9.00,Cash,107.0,583.0,195.0,278.0,173.0
4,18,5367.0,2016-1-11 14:00:00,2016-1-11 14:00:00,420.0,0.0,NaN,NaN,28.0,28.0,...,0.0,0.0,0.0,6.75,Cash,107.0,158.0,270.0,158.0,270.0

In [16]:
taxi.drop(columns=['taxi_id','trip_end_timestamp','pickup_census_tract','dropoff_census_tract','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','tips','tolls','extras','payment_type','dropoff_latitude','company','dropoff_longitude'],inplace=True)

In [17]:
#Separate trip_time_stamp to date and time
#Create a new column for trip_hour
new = taxi['trip_start_timestamp'].str.split(" ",n=1,expand=True)
taxi['trip_date'],taxi['trip_timestamp'] = new[0],new[1]
taxi['trip_hour'] = pd.to_datetime(taxi['trip_start_timestamp']).dt.hour


taxi['trip_date'] = pd.to_datetime(taxi['trip_date'])
taxi['trip_day'] = taxi['trip_date'].dt.day_name()
taxi['weekend'] = taxi['trip_day'].apply(lambda x: 1 if (x == 'Sunday' or x == 'Saturday') else 0)
taxi.drop(columns=['trip_start_timestamp','trip_date','trip_day'],inplace=True)

In [18]:
taxi.head()

,Unnamed: 0,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,trip_total,trip_timestamp,trip_hour,weekend
0,0,180.0,0.4,24.0,24.0,4.50,4.50,06:15:00,6,0
1,7,60.0,0.2,16.0,16.0,3.75,3.75,04:15:00,4,0
2,13,420.0,0.0,8.0,28.0,6.25,6.25,09:45:00,9,0
3,14,480.0,0.1,41.0,69.0,9.00,9.00,07:45:00,7,1
4,18,420.0,0.0,28.0,28.0,6.75,6.75,14:00:00,14,0

In [ ]:
taxi.to_csv('taxi_model.csv')