In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
taxi = pd.read_csv('taxi_107_intermediate.csv')

In [4]:
taxi.head()

,Unnamed: 0,Unnamed: 0.1,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,trip_total,trip_date,trip_timestamp,trip_hour,trip_day,weekend
0,0,0,180.0,0.4,24.0,24.0,4.50,2016-01-13,06:15:00,6,Wednesday,0
1,1,1,60.0,0.2,16.0,16.0,3.75,2016-01-26,04:15:00,4,Tuesday,0
2,2,3,480.0,0.1,41.0,69.0,9.00,2016-01-03,07:45:00,7,Sunday,1
3,3,6,840.0,0.4,41.0,8.0,22.00,2016-01-12,15:30:00,15,Tuesday,0
4,4,9,480.0,1.6,32.0,8.0,7.75,2016-01-18,15:45:00,15,Monday,0

In [ ]:
#Separate trip_time_stamp to date and time
#Create a new column for trip_hour
new = taxi['trip_start_timestamp'].str.split(" ",n=1,expand=True)
taxi['trip_date'],taxi['trip_timestamp'] = new[0],new[1]
taxi['trip_hour'] = pd.to_datetime(taxi['trip_start_timestamp']).dt.hour

taxi.drop(columns='trip_start_timestamp',inplace=True)
taxi['trip_date'] = pd.to_datetime(taxi['trip_date'])
taxi['trip_day'] = taxi['trip_date'].dt.day_name()
taxi['weekend'] = taxi['trip_day'].apply(lambda x: 1 if (x == 'Sunday' or x == 'Saturday') else 0)

In [16]:
taxi1.to_csv('taxi_107_intermediate1.csv')